<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
</head>
<body>
    <div>
        <h3>搜索 {{ name }} 的结果:</h3>

        {% if x == 'nofind' %}
            <p>未找到关于'{{ name }}'的数据,请重新输入!</p>
        {% endif %}

        <ul>
        {% for music in music_names %}
            <li>
                <span><a href="/music/player/{{ music.id }}">{{ music.music_name }}</a></span>
                <span> 歌手: {{ music.singer }}</span>
            </li>
        {% endfor %}
        {% for music in singer_names %}
            <li>
                <span><a href="/music/player/{{ music.id }}">{{ music.music_name }}</a></span>
                <span> 歌手: {{ music.singer }}</span>
            </li>
        {% endfor %}
        </ul>
        <div>
            <a href="/index">返回首页</a>
        </div>
    </div>
</body>
</html>